---
layout: default
---

<header>
  {% include nav.html %}
  <div class="main">
    <h1>Pixel Worlds Game</h1>
    <p><a href="https://play.google.com/store/apps/details?id=com.kukouri.wizworld&hl=en">PLAY THIS GAME</a></p>
  </div>
</header>
<main>
  <div>
    <h2>Pixel Worlds is a fun game</h2>
    <h3>you should try it</h3>
    <p>Pixel worlds is a fun game!</p>
    <p>This game is made and manage by</p>
    <p>really talented people.</p>
  </div>
</main>
<section class="responsive-main">
  <h2>Pixel Worlds is a fun game</h2>
  <h3>you should try it</h3>
  <p>
    Pixel worlds is a fun game!
    This game is made and manage by
    really talented people.
  </p>
</section>
<section class="info" id="pixel">
  <div class="info-title">
    <h1>PIXEL WORLDS</h1>
  </div>
  <div class="more-info">
    <div class="game">
      <h2><a href="https://play.google.com/store/apps/details?id=com.kukouri.wizworld&hl=en">DOWNLOAD THE GAME</a></h2>
      <p>this game is so much fun</p>
    </div>
    <div class="forum">
      <h2><a href="http://forums.pixelworldsgame.com/index.php">PIXEL WORLDS FORUM</a></h2>
      <p>see and post about your thoughts and ideas on the forums</p>
    </div>
  </div>
</section>
<section class="image-grid" id="fun">
  <div class="top">
    <div class="image-left"></div>
    <div class="text">
      <h1>FUN THINGS TO DO</h1>
      <p>You can build worlds and share with others!</p>
    </div>
  </div>
  <div class="bot">
    <!-- images -->
    <div class="background-1">
      <img src="images/youngjake.png" alt="a picture of jake character in game">
    </div>
    <div class="background-2">
      <img src="images/old-icon.png" alt="the icon of pixel world">
    </div>
  </div>
</section>
<section class="image-grid-res">
  <div class="text">
    <h1>FUN THINGS TO DO</h1>
    <p>You can build worlds and share with others!</p>
  </div>
  <div class="pics">
    {% for res-pic in site.data.responsive-pics %}
      <div style="background-image: url({{res-pic.img}})"></div>
    {% endfor %}
  </div>
</section>
<section class="about">
  <div>
    <h1>ABOUT PIXEL WORLDS</h1>
    <p>
       Pixel Worlds is a massive multiplayer sandbox game for mobile platforms.
       It is about having fun with other players, farming, building, chatting.
    </p>
    <p><a href="https://www.youtube.com/channel/UCd-67MFSZ25qvE7ZBnRkXQg/videos">Find Out More</a></p>
  </div>
</section>
<section class="jake">
  {% for staff in site.data.staff %}
    <div style="background-image: url({{staff.bg-img}})">
      <p>{{staff.title}}</p>
    </div>
  {% endfor %}
</section>
